

<div class="container">
    <form class="form">

  <div class="row">
    <div class="col-md-12">
      <h1>Messages</h1>
    </div>
    <div class="col-md-12">

      <label>Enter your message, and then press submit</label><br>

      <input type="text" name="Send2" class="form-control" ng-model="vm.model.message"
                 required/><br>
      <div class="text-center">
        <button ng-click="vm.addMessage()" class="btn btn-primary">Send</button>
      </div>

    </div>


    <div class="col-md-8" id="right-container-div">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Message</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="msg in vm.messageData">
          <td>
            <div class="row" id="organizer">
              {{msg.from}}
            </div>
            <div class="row">
              <img class="img-rounded" src="http://pickaface.net/includes/themes/clean/img/slide2.png" alt="Avatar" id="profile-picture">
            </div>
          </td>
          <td>{{msg.message}}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>







  </form>
</div>
