<header class="hero-unit" id="banner">
  <div class="container">
    <h1>TravelWith</h1>
    <p class="lead">Join people travelling to your destination.</p>
  </div>
</header>

<div class="container">
    <form class="t" ng-submit="vm.search()">
    <label>Syncs in realtime across clients</label>
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
      <input type="text" class="form-control" ng-model="vm.model.destination" placeholder="Enter place or city..."  g-places-autocomplete ng-required="true">
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-required="true" is-open="fromDatePickerOpen" ng-model="vm.model.startingDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openFromDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-required="true" is-open="toDatePickerOpen" ng-model="vm.model.toDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openToDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
  </div>


    <button type="submit" class="btn btn-primary">Go</button>
  </form>
</div>
