body {
  background-image: url("../assets/images/bg_landing_page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #221511;
  color: whitesmoke;
  font-size: 18px;
}

.col-md-3 {
  margin: 0 auto !important;
  float: none !important;
  text-align: left;
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}

.navbar-text {
  margin-left: 15px;
}

.navbar.navbar-default.navbar-static-top {
  background-color: #262626;
  color: whitesmoke;
}

.navbar.navbar-default.navbar-static-top.a {
  color: whitesmoke;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 18px;
}


#results-container {
  padding-left: 20px;
  background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(54, 25, 25, .7);
  margin-top: 20px;
  color: white;
}

#results-table {
  text-align: center;
}

#profile-picture {
  width: 100px;
  height: 100px;
}

#organizer {
  padding-left: 20px;
}

.btn.btn-primary {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
  width: 100px;
  font-size: 20px;
}