<form class="form-horizontal" ng-submit="arc.createRequest()">
    <fieldset>

        <div class="col-md-12">
            <div class="col-md-3">
            </div>
            <div class="col-md-8">
                <br>

                <p>Travel Route:</p>

                <h1>{{drc.travelRoute.name}}</h1>
                <br>

                <p>Author:</p>

                <p>{{owner.name}}</p>

                <p>Description:</p>

                <p>{{drc.travelRoute.description}}</p>

                <p>Participants:</p>

                <p ng-repeat="participant in drc.participants">{{participant.name}}</p>

                <h3>Stops on this Travel Route:</h3>
                <table class="table table-striped">
                    <thead>
                    <th>Stop Name</th>
                    <th>Location</th>
                    <th>Date of Arrival</th>
                    <th>Date of Departure</th>
                    </thead>
                    <tbody class="tbody">
                    <tr ng-repeat="stop in drc.travelRoute.itinerary">
                        <td>{{stop.name}}</td>
                        <td>{{stop.place}}</td>
                        <td>{{stop.startDate | date:'dd.MM.yyyy'}}</td>
                        <td>{{stop.endDate | date:'dd.MM.yyyy'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
            </div>
        </div>

    </fieldset>
    <div class="col-md-12 submit">
        <div class="text-center">
            <button type="button" class="btn btn-primary create-tr" ng-hide="drc.participating">Join this Travel
                Route!
            </button>
        </div>
    </div>

</form>
