<header class="hero-unit">
    <h1>Create a Travel Route Request</h1>
</header>

<form class="form-horizontal" ng-submit="rc.createRequest()">
    <fieldset>

        <!-- Title input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Title: </label>

            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text"
                       placeholder="What the title of you next journey should be?"
                       class="form-control input-md" ng-model="rc.travelRequest.title">
                <!-- <span class="help-block">validation message placeholder?</span> !-->
            </div>
        </div>

        <!-- Description input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Description: </label>

            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text"
                       placeholder="What's the background of this Travel Route?"
                       class="form-control input-md" ng-model="rc.travelRequest.description">
                <!-- <span class="help-block">validation message placeholder?</span> !-->
            </div>
        </div>

        <!-- Itinerary Item Name-->

        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Stop Name</label>

            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="placeholder"
                       class="form-control input-md" ng-model="itineraryItem.name">
                <!-- <span class="help-block">validation message placeholder?</span> !-->
            </div>
        </div>

        <!-- Travel Dates input-->

        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Time Period: </label>
            <div class="col-md-2">
                <input type="text" class="form-control datepicker" uib-datepicker-popup="dd-MMMM-yyyy" ng-required="true"
                       is-open="fromDatePickerOpen" ng-model="itineraryItem.startDate" datepicker-options="dateOptions"
                       ng-required="true" close-text="Close"/>
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openFromDatePicker()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-required="true"
                       is-open="toDatePickerOpen" ng-model="itineraryItem.startDate" datepicker-options="dateOptions"
                       ng-required="true" close-text="Close"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openToDatePicker()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </div>
        </div>

        <!-- Search input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="locationinput">Location: </label>

            <div class="col-md-4">
                <input id="locationinput" type="text" class="form-control" ng-model="rc.travelRequest.destination"
                       placeholder="Enter place or city..." g-places-autocomplete >
                <!-- <span class="help-block">validation message placeholder?</span> !-->
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Create Travel Route!</button>
        </div>

    </fieldset>
</form>