.btn.btn-primary.search-new {
  background-color: #0f8a0f;
  border-color: #006600;

  color: #fff;
  font-size: 20px;
  width: 265px;
}

.btn.btn-primary.back {
  border-color: #357ebd;
  color: #fff;
  font-size: 20px;
  width: 100px;
}